.DS_Store

/cinder/Calligraphy3D/xcode/build/
/cinder/CalligraphyTouch/xcode/build/

/cinder/CalligraphyTouch/xcode/build/Debug/CalligraphyTouch.app/Contents/Resources/videos/color.mp4
/cinder/CalligraphyTouch/xcode/build/Debug/CalligraphyTouch.app/Contents/Resources/videos/bw.mp4
/cinder/CalligraphyTouch/xcode/build/Debug/CalligraphyTouch.app/Contents/Resources/shaders/drop.vert
/cinder/CalligraphyTouch/xcode/build/Debug/CalligraphyTouch.app/Contents/Resources/shaders/drop.frag
/cinder/CalligraphyTouch/xcode/build/Debug/CalligraphyTouch.app/Contents/Resources/shaders/copy.vert
/cinder/CalligraphyTouch/xcode/build/Debug/CalligraphyTouch.app/Contents/Resources/shaders/copy.frag
/cinder/CalligraphyTouch/xcode/build/Debug/CalligraphyTouch.app/Contents/Resources/drops/drop06.png
/cinder/CalligraphyTouch/xcode/build/Debug/CalligraphyTouch.app/Contents/Resources/drops/drop05.png
/cinder/CalligraphyTouch/xcode/build/Debug/CalligraphyTouch.app/Contents/Resources/drops/drop04.png
/cinder/CalligraphyTouch/xcode/build/Debug/CalligraphyTouch.app/Contents/Resources/drops/drop03.png
/cinder/CalligraphyTouch/xcode/build/Debug/CalligraphyTouch.app/Contents/Resources/drops/drop02.png
/cinder/CalligraphyTouch/xcode/build/Debug/CalligraphyTouch.app/Contents/Resources/drops/drop01.png
/cinder/CalligraphyTouch/xcode/build/Debug/CalligraphyTouch.app/Contents/Resources/common/spot.png
/cinder/CalligraphyTouch/xcode/build/Debug/CalligraphyTouch.app/Contents/Resources/common/floorBlue.jpg
/cinder/CalligraphyTouch/xcode/build/Debug/CalligraphyTouch.app/Contents/Resources/common/floor.jpg
/cinder/CalligraphyTouch/xcode/build/Debug/CalligraphyTouch.app/Contents/Resources/CinderApp.icns
/cinder/CalligraphyTouch/xcode/build/Debug/CalligraphyTouch.app/Contents/Resources/brushes/brush5.png
/cinder/CalligraphyTouch/xcode/build/Debug/CalligraphyTouch.app/Contents/Resources/brushes/brush4.png
/cinder/CalligraphyTouch/xcode/build/Debug/CalligraphyTouch.app/Contents/Resources/brushes/brush3.png
/cinder/CalligraphyTouch/xcode/build/Debug/CalligraphyTouch.app/Contents/Resources/brushes/brush2.png
/cinder/CalligraphyTouch/xcode/build/Debug/CalligraphyTouch.app/Contents/Resources/brushes/brush1.png
/cinder/CalligraphyTouch/xcode/build/Debug/CalligraphyTouch.app/Contents/Resources/brushes/brush0.png
/cinder/CalligraphyTouch/xcode/build/Debug/CalligraphyTouch.app/Contents/PkgInfo
/cinder/CalligraphyTouch/xcode/build/Debug/CalligraphyTouch.app/Contents/MacOS/CalligraphyTouch
/cinder/CalligraphyTouch/xcode/build/Debug/CalligraphyTouch.app/Contents/Info.plist
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/Objects-normal/i386/ViewRibbon.o
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/Objects-normal/i386/ViewRibbon.dia
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/Objects-normal/i386/ViewRibbon.d
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/Objects-normal/i386/ViewDrop.o
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/Objects-normal/i386/ViewDrop.dia
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/Objects-normal/i386/ViewDrop.d
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/Objects-normal/i386/ViewCopy.o
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/Objects-normal/i386/ViewCopy.dia
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/Objects-normal/i386/ViewCopy.d
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/Objects-normal/i386/View.o
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/Objects-normal/i386/View.dia
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/Objects-normal/i386/View.d
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/Objects-normal/i386/Utils.o
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/Objects-normal/i386/Utils.dia
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/Objects-normal/i386/Utils.d
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/Objects-normal/i386/usb_libusb10.o
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/Objects-normal/i386/usb_libusb10.dia
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/Objects-normal/i386/usb_libusb10.d
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/Objects-normal/i386/tilt.o
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/Objects-normal/i386/tilt.dia
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/Objects-normal/i386/tilt.d
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/Objects-normal/i386/SceneRibbon.o
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/Objects-normal/i386/SceneRibbon.dia
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/Objects-normal/i386/SceneRibbon.d
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/Objects-normal/i386/SceneQuat.o
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/Objects-normal/i386/SceneQuat.dia
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/Objects-normal/i386/SceneQuat.d
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/Objects-normal/i386/Scene.o
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/Objects-normal/i386/Scene.dia
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/Objects-normal/i386/Scene.d
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/Objects-normal/i386/registration.o
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/Objects-normal/i386/registration.dia
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/Objects-normal/i386/registration.d
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/Objects-normal/i386/MeshUtils.o
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/Objects-normal/i386/MeshUtils.dia
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/Objects-normal/i386/MeshUtils.d
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/Objects-normal/i386/MathUtils.o
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/Objects-normal/i386/MathUtils.dia
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/Objects-normal/i386/MathUtils.d
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/Objects-normal/i386/InkDrop.o
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/Objects-normal/i386/InkDrop.dia
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/Objects-normal/i386/InkDrop.d
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/Objects-normal/i386/GlobalSettings.o
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/Objects-normal/i386/GlobalSettings.dia
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/Objects-normal/i386/GlobalSettings.d
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/Objects-normal/i386/core.o
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/Objects-normal/i386/core.dia
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/Objects-normal/i386/core.d
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/Objects-normal/i386/CinderFreenect.o
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/Objects-normal/i386/CinderFreenect.dia
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/Objects-normal/i386/CinderFreenect.d
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/Objects-normal/i386/cameras.o
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/Objects-normal/i386/cameras.dia
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/Objects-normal/i386/cameras.d
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/Objects-normal/i386/CalligraphyTouchApp.o
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/Objects-normal/i386/CalligraphyTouchApp.dia
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/Objects-normal/i386/CalligraphyTouchApp.d
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/Objects-normal/i386/CalligraphyTouch_dependency_info.dat
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/Objects-normal/i386/CalligraphyTouch.LinkFileList
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/CalligraphyTouch~.dep
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/CalligraphyTouch.hmap
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/CalligraphyTouch.dep
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/CalligraphyTouch-project-headers.hmap
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/CalligraphyTouch-own-target-headers.hmap
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/CalligraphyTouch-generated-files.hmap
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/CalligraphyTouch-all-target-headers.hmap
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/build-state~.dat
/cinder/CalligraphyTouch/xcode/build/CalligraphyTouch.build/Debug/CalligraphyTouch.build/build-state.dat
