/*main.css*/

html, body {
	width:100%;
	height:100%;
	padding:0px;
	margin:0px;
	background: black;
}

video {
	position: absolute;
	top:0px;
	left:0px;
	display:none;
}

.debugCanvas { 
	position: absolute;
	top:0px;
	left:0px;
	z-index: 999;
}

.debugCanvas.right { 
	right:0px;
	left:auto;
}